<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.shanda.dao.UserDao">

<select id="findAll" resultType="com.shanda.entity.User">
	 select * from user
</select>

<!-- 添加一个账户信息 -->
<insert id="save" parameterType="com.shanda.entity.User">
	insert into user(name,passport, job, qq, weixin, phone,address,type) values(
		#{name},
		#{passport},
		#{job,jdbcType=VARCHAR},
		#{qq,jdbcType=VARCHAR},
		#{weixin,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}
	)
</insert>

<select id="findByName" parameterType="java.lang.String" resultType="com.shanda.entity.User">
	select * from user where name = #{name}
</select>
<select id="findById" parameterType="java.lang.Integer" resultType="com.shanda.entity.User">
	select * from user where id = #{id}
</select>

<update id="updateUser" parameterType="com.shanda.entity.User">
	update user
	<set>
		<if test="name !=null">
			name = #{name},
		</if>
			<if test="job !=null">
			job = #{job},
		</if>
			<if test="qq !=null">
			qq = #{qq},
		</if>
			<if test="weixin !=null">
			weixin = #{weixin},
		</if>
		<if test="phone !=null">
			phone = #{phone},
		</if>
		<if test="address !=null">
			address = #{address},
		</if>
		<if test="phone !=null">
			phone = #{phone},
		</if>
		<if test="type !=null">
			type = #{type}
		</if>
	</set> 
	where id = #{id}
</update>
</mapper>